html {
  /* overflow-y: scroll; */
  /* height: 300px; */
  overflow: hidden;
  /* touch-action: manipulation; */
}
body {
  /* height: 200vh; */
  /* height: 300px; */
  overflow-y: auto;
  height: 100svh;
  /* touch-action: manipulation; */
}

/* html {
  width: 100%;
  @include var.mq(sp) {
    height: 100vh;
    height: 100svh;
    touch-action: manipulation;
    overflow-y: hidden;
  }
}
body {
  width: 100%;
  background: var.$c-bg;
  overflow-x: hidden;
  @include var.mq(sp) {
    height: 100vh;
    height: 100svh;
    touch-action: manipulation;
    overflow-y: scroll;
  }
} */

.section1 {
  width: 100%;
  height: 50vh;
  background: mediumpurple;
}
.section2 {
  width: 100%;
  height: 50vh;
  background: darkviolet;
}
.section3 {
  width: 100%;
  height: 50vh;
  background: turquoise;
}
.section4 {
  width: 100%;
  height: 50vh;
  background: brown;
}
.wrap {
  /* overflow-y: auto;
  height: 100svh; */
}
